---
// components
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";

import {
  slugify,
  formatBlogPosts,
  formatBlogPostsCollections,
} from "../../js/utils";

// utils
export async function getStaticPaths() {
  return [
    {
      params: { category: slugify("Reference Docs") },
      props: { name: "Reference Docs" },
    },
    {
      params: { category: slugify("General") },
      props: { name: "General" },
    },
    {
      params: { category: slugify("CSS") },
      props: { name: "CSS" },
    },
    {
      params: { category: slugify("Astro") },
      props: { name: "Astro" },
    },
  ];
}
const { category } = Astro.params;
const { name } = Astro.props;

import { getCollection } from "astro:content";

// const allPosts = await Astro.glob("./blog/*.md");

const allPosts = await getCollection("blog");
const formattedPosts = formatBlogPostsCollections(allPosts, {
  sortByDate: true,
  filterOutDrafts: false,
});

const catPost = formattedPosts.filter(
  (post) => slugify(post.data.category) === category
);
---

<MainLayout title={name}>
  <section class="" aria-label={`Posts about ${name}`}>
    <h1 class="ml-14 mt-4 text-5xl font-extrabold dark:text-white">
      Post about <span>{name}</span>
    </h1>

    <div class="mt-4 p-8 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {catPost.map((post) => <PostCard frontmatter={post} tagType="h2" />)}
    </div>
  </section>
</MainLayout>
