---
import type { GetStaticPaths } from "astro";
import "../../styles/global.css";

import { getCollection } from "astro:content";

// utils imports
import { formatBlogPostsCollections } from "../../js/utils";
import BlogPostLayout from "../../layouts/BlogPostLayout.astro";

export const prerender = true;
export async function getStaticPaths() {
  // const allPosts = await Astro.glob("./*.md");

  const allPosts = await getCollection("blog");
  const formattedPosts = formatBlogPostsCollections(allPosts);

  return formattedPosts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));

  // return paginate(formattedPosts, {
  //   pageSize: 1,
  // });
}

const { entry } = Astro.props;
const { Content } = await entry.render();
//const { Content } = await entry.render();

// const { page } = Astro.props
---

<BlogPostLayout frontmatter={entry.data}>
  <div class="prose">
    <Content />
  </div>
</BlogPostLayout>
