---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="About" description="About description" robots={true}>
  <section
    class="flex mx-auto my-4 gap-5 max-w-3xl mt-8 p-8"
    aria-label="About Me"
  >
    <!--
    <div>
      <img
        class="block mx-auto"
        src="/images/logo-removebg.png"
        alt="logo-natures-life"
      />
    </div>
  -->
    <div class="content">
      <!-- <h1 class="text-3xl font-bold dark:text-purple-light">Nature's Life</h1> -->
      <p class="about-paragraph text-xl pt-3 my-6">
        En <strong>Nature's Life</strong>, nuestra pasión es conectar a las
        personas con los beneficios de la naturaleza. Nos dedicamos a ofrecer
        una amplia variedad de productos naturales de la más alta calidad,
        cuidadosamente seleccionados para apoyar tu salud y bienestar.
      </p>
      <p class="text-xl pt-3 my-6 font-bold">Nuestra promesa:</p>
      <ul class="text-xl pt-3 my-6">
        <li class="">
          <strong>Ingredientes puros:</strong> Utilizamos hierbas y plantas
          cultivadas orgánicamente, sin pesticidas ni fertilizantes químicos,
          para garantizar la máxima pureza y potencia de nuestros productos.
        </li>
        <li class="my-6">
          <strong>Fórmulas tradicionales:</strong> Nuestros expertos en
          herbolaria han combinado conocimientos ancestrales con las últimas
          investigaciones científicas para crear fórmulas únicas y efectivas.
        </li>
        <li class="my-6">
          <strong>Compromiso con la salud:</strong> Nos preocupamos por tu
          bienestar integral. Nuestros productos pueden ayudar a fortalecer tu
          sistema inmunológico, mejorar tu digestión, reducir el estrés y
          promover un sueño reparador.
        </li>
      </ul>

      <p class="about-paragraph">
        <strong class="text-xl pt-3 my-6 font-bold"
          >¿Por qué elegir Nature's Life?</strong
        >
        <ul class="text-xl pt-3 my-6">
          <li>
            <strong>Seguridad y eficacia:</strong> Nuestros productos son
            seguros y confiables. Sin embargo, es importante consultar a un
            profesional de la salud antes de iniciar cualquier nuevo
            tratamiento.
          </li>
          <li class="my-6">
            <strong>Accesibilidad:</strong>
             Ofrecemos productos de alta calidad a precios competitivos, para
            que puedas disfrutar de los beneficios de la naturaleza sin
            comprometer tu presupuesto.
          </li>
          <li class="my-6">
            <strong> Servicio personalizado:</strong>
             Nuestro equipo está comprometido en brindarte la mejor atención y
            ayudarte a encontrar los productos que mejor se adapten a tus
            necesidades.
          </li>
        </ul>
      </p>
      <p class="about-paragraph text-xl pt-3 my-6">
        <strong>Descubre la diferencia</strong><br />
         Únete a nuestra comunidad y experimenta los beneficios de vivir en
        armonía con la naturaleza. Explora nuestra tienda en línea y descubre
        una amplia gama de productos para cuidar de tu cuerpo y mente.
      </p>

      <div class="card-actions justify-center text-white-light">
        <Link
          href="mailto:chris@codingpublic.dev"
          style="primary"
          isFilled={true}
          text="Cotáctanos"
        />
      </div>
    </div>
  </section>
</MainLayout>
