---
// utils imports
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";

import { formatBlogPosts, formatBlogPostsCollections } from "../js/utils";
import Link from "../components/Link.astro";
import { getCollection } from "astro:content";
import Tab from "../components/Tab.astro";

// const allPosts = await Astro.glob("./blog/*.md");

const allPosts = await getCollection("blog");
const formattedPosts = formatBlogPostsCollections(allPosts, {
  sortByDate: true,
  filterOutDrafts: false,
});

// return formattedPosts.map((entry) => ({
//   params: { slug: entry.slug },
//   props: { entry },
// }));
// const formattedPosts = formatBlogPosts(allPosts, {
//   filterOutDrafts: false,
//   sortByDate: true,
//   limit: 7,
// });
---

<MainLayout>
  <section
    class="block mx-auto my-4 gap-5 max-w-3xl mt-8 p-8"
    aria-label="About Me"
  >
    <div>
      <img
        class="block mx-auto"
        src="/images/logo-removebg.png"
        alt="logo-natures-life"
      />
    </div>
    <div class="content">
      <!-- <h1 class="text-6xl font-bold dark:text-white-light my-8">
        Nature's Life
      </h1> -->
      <p class="text-2xl pt-3 my-6 font-light">
        En Nature's Llife, nos dedicamos a la venta de productos naturales
        online con las mejores materias primas del mercado. Nuestras hierbas
        naturales son seleccionadas cuidadosamente para garantizar su máxima
        calidad y eficacia.
      </p>
    </div>
    <p class="text-2xl pt-3 my-6 font-light">
      Con un tratamiento comprobado para sanar las enfermedades. Nuestros
      expertos en herbolaria han trabajado durante años para desarrollar
      fórmulas efectivas que puedan ayudar a las personas a mejorar su salud.
    </p>
    <p class="text-2xl pt-3 my-6 font-light">
      Nature's Life es la opción perfecta para ti. Nuestros productos son
      seguros, eficaces y asequibles.
    </p>
    <p class="text-2xl pt-3 my-6 font-light">
      Prueba nuestros productos hoy mismo y descubre la diferencia que pueden
      hacer en tu salud.
    </p>

    <h2 class="text-center my-4 pt-8 text-5xl font-extrabold">Nature's Life</h2>
    <p class="text-2xl pt-3 my-6 font-light">
      La mejor calidad en productos naturales!
    </p>

    <div>
      <Link
        href="mailto:chris@codingpublic.dev"
        style="primary"
        isFilled={true}
        text="Suscríbete"
      />
    </div>
  </section>
  <section class="" aria-label="New Blog Posts">
    <h2 class="text-center mt-4 pt-8 text-5xl font-extrabold">
      Nuestros Productos
    </h2>

    <Tab tagType="h3" />

    <!-- <div class="flex flex-wrap justify-evenly p-8"> -->
    <div
      class="mt-4 p-8 grid grid-cols-1 gap-4 justify-center items-center md:grid-cols-2 lg:grid-cols-3"
    >
      {
        formattedPosts.map((post) => (
          <PostCard frontmatter={post} tagType="h3" />
        ))
      }
    </div>
  </section>
</MainLayout>
