---
// utils imports
import "../styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";

import { formatBlogPosts, formatBlogPostsCollections } from "../js/utils";
import Link from "../components/Link.astro";
import { getCollection } from "astro:content";

// const allPosts = await Astro.glob("./blog/*.md");

const allPosts = await getCollection("blog");
const formattedPosts = formatBlogPostsCollections(allPosts, {
  sortByDate: true,
  filterOutDrafts: false,
});

// return formattedPosts.map((entry) => ({
//   params: { slug: entry.slug },
//   props: { entry },
// }));
// const formattedPosts = formatBlogPosts(allPosts, {
//   filterOutDrafts: false,
//   sortByDate: true,
//   limit: 7,
// });
---

<MainLayout>
  <section class="flex mx-auto my-4 gap-5 max-w-3xl mt-8" aria-label="About Me">
    <img
      src="/images/curso-de-bobinado-de-motores-electricos-y-electricidad-industrial.jpeg/"
      alt="motor-ac"
      width="200"
    />
    <div class="content">
      <h1 class="text-3xl font-bold dark:text-white">My blog</h1>
      <p class="pt-3 my-6">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas
        reiciendis illum assumenda doloribus voluptatem, odit inventore tenetur
        soluta
      </p>
      <Link
        href="mailto:chris@codingpublic.dev"
        style="primary"
        text="Say Hello"
      />
    </div>
  </section>

  <section class="" aria-label="New Blog Posts">
    <div class="h2 ml-5">New Blog Posts</div>

    <div class="flex flex-wrap justify-evenly">
      {
        formattedPosts.map((post) => (
          <>
            <PostCard frontmatter={post} tagType="h3" />
          </>
        ))
      }
    </div>
  </section>
</MainLayout>
