---
import { getCollection } from "astro:content";
import {
  formatBlogPosts,
  formatBlogPostsCollections,
  slugify,
} from "../js/utils";

const allPosts = await getCollection("blog");
const formattedPosts = formatBlogPostsCollections(allPosts);

const allCategories = formattedPosts
  .map((cat) => cat.data.category.toLowerCase())
  .flat();

const processedCats = allCategories.reduce((acc, category) => {
  // check if category exists in the acc

  const value = acc[category] || 0;
  return { ...acc, [category]: value + 1 };
}, {});

 console.log(processedCats);

const { showCount } = Astro.props;
---

<ul class="grid grid-cols-3">
  {
    Object.entries(processedCats).map(([key, val]) => (
      <li class="inline-grid text-center">
        <a
          class="hover:text-primary focus:ring-4 focus:ring-blue-300 font-bold rounded-lg text-base px-5 py-2.5 mr-2 mb-2 mt-2 focus:outline-none dark:focus:ring-blue-800"
          href={`/category/${slugify(key)}/`}
        >
          {key.toLowerCase() === "capsulas" ? "cápsulas":key} {showCount && `(${val})`}  
        </a>
      </li>
    ))
  }
</ul>

<style>
  a {
    text-transform:capitalize;
  }
</style>
